<html class="userBG">
  <div class="userShow">
      <h2>{{user.username}}'s Trips</h1>

      <a href="/trips/new">Create New Trip!</a>
    <div class="userPageTrips">
      <div id="allTrips">
        <h3>All Trips</h3>
          {{#each user.trips}}
          <ul>
            <li><a href="/trips/{{_id}}">{{tripName}}</a></li>
          </ul>
          {{/each}}
      </div>
      <div id="favoriteTrips">
        <h3>Favorite Trips</h3>
          <ul>
            {{#each user.trips}}
            <ul>
              <li><a href="/trips/{{_id}}">{{favorite}}</a></li>
            </ul>
            {{/each}}
          </ul>
      </div>
      {{#each user.trips}}
      <div id="userImages">
        <div>
            <img class="userImg" src="{{img}}" alt="">
        </div>
      {{/each}}
      </div>
    </div>
  </div>
  <br>
  <a href="/users">Return to Home Page</a>
</html>
