<html class="userBG">
  <div class="tripShow">
    <img class="userImg" src="{{trip.img}}" alt="">
    <h1>{{trip.tripName}}</h1>
    <ul>
      <li>Favorite Trip? {{trip.favorite}}</li>
      <li>Trip Start: {{trip.start}}</li>
      <li>Destination: {{trip.destination}}</li>
      <li>Travel Duration: {{trip.travelTime}}</li>
      <li>Method of Travel: {{trip.methodOfTravel}}</li>
      <li>Notable Landmarks: {{trip.landmarks}}</li>
      <li>Routes: {{trip.routes}}</li>
      <li>Stops: {{trip.stops}}</li>
    </ul>

    <a href="/trips/edit/{{trip._id}}">Edit Trip</a>
    <br>
    <form action="/trips/{{trip._id}}?_method=DELETE" method="post">
      <input type="submit" value="Delete This Trip">
    </form>
  </div>
  <br>
  <a href="/users/{{user._id}}">Return to Account Page</a>
</html>
